 {{#each this}}
    <div class="photo-card">

   <a href="{{this.largeImageURL}}">
 <img class="card-image" src="{{this.webformatURL}}" alt="{{this.tags}}" loading="lazy" />
 </a>
  <div class="info">
    <p class="info-item">
  <b class="info-item__title">Likes</b>
  <br>
      {{this.likes}}
    </p>
    <p class="info-item">
      <b class="info-item__title">Views</b>
       <br>
       {{this.views}}     
    </p>
    <p class="info-item">
      <b class="info-item__title">Comments</b>
      <br>
      {{this.comments}}
      
    </p>
    <p class="info-item">
      <b class="info-item__title">Downloads</b>
      <br>
      {{this.downloads}}    
    </p>
  </div>

</div>


  {{/each}}